<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="robotv5">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.060987 -0.004272 0.192"
        rpy="0 0 0" />
      <mass
        value="10.746" />
      <inertia
        ixx="0.065835"
        ixy="-0.00023209"
        ixz="0.0013281"
        iyy="0.085268"
        iyz="6.4462E-06"
        izz="0.079142" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotv5/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotv5/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="lidar_link">
    <inertial>
      <origin
        xyz="0.014838 0.00044768 -0.021154"
        rpy="0 0 0" />
      <mass
        value="0.031241" />
      <inertia
        ixx="8.8803E-06"
        ixy="-1.7766E-07"
        ixz="1.1303E-07"
        iyy="1.4491E-05"
        iyz="3.4608E-08"
        izz="2.2529E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotv5/meshes/lidar_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotv5/meshes/lidar_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar"
    type="fixed">
    <origin
      xyz="0.15567 0.0011278 0.1461"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="lidar_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="imu_link">
    <inertial>
      <origin
        xyz="-0.00012898 -0.0001915 -0.0038407"
        rpy="0 0 0" />
      <mass
        value="0.0009999" />
      <inertia
        ixx="2.5045E-08"
        ixy="1.0397E-10"
        ixz="-2.6856E-14"
        iyy="1.2451E-08"
        iyz="-1.1857E-14"
        izz="3.0638E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotv5/meshes/imu_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotv5/meshes/imu_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="imu"
    type="fixed">
    <origin
      xyz="0.12643 -0.10052 0.03302"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="imu_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_wheel_link">
    <inertial>
      <origin
        xyz="0.00024359 -0.0295 8.0116E-11"
        rpy="0 0 0" />
      <mass
        value="0.98171" />
      <inertia
        ixx="0.001653"
        ixy="-1.0125E-05"
        ixz="1.3027E-08"
        iyy="0.0028786"
        iyz="5.3288E-10"
        izz="0.0016529" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotv5/meshes/right_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotv5/meshes/right_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wheel"
    type="continuous">
    <origin
      xyz="0.0015756 -0.17502 0.015"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_wheel_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="left_wheel_link">
    <inertial>
      <origin
        xyz="-0.00024359 0.0295 8.0115E-11"
        rpy="0 0 0" />
      <mass
        value="0.98171" />
      <inertia
        ixx="0.001653"
        ixy="-1.0125E-05"
        ixz="-1.4498E-08"
        iyy="0.0028786"
        iyz="7.25E-11"
        izz="0.0016529" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotv5/meshes/left_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotv5/meshes/left_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wheel"
    type="continuous">
    <origin
      xyz="-0.0013143 0.17497 0.015"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_wheel_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotv5/meshes/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotv5/meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="cam"
    type="fixed">
    <origin
      xyz="0.26495 0.0053582 0.28443"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>